@{
    ViewBag.Title = "Control de la base de datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="basedatos/alumno">Alumnos</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="basedatos/carrera">Carreras</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="basedatos/computadora">Computadoras</a>
                </h4>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="basedatos/ubicacion">Ubicaciones</a>
            </h4>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="basedatos/registro">Registros</a>
            </h4>
        </div>
    </div>
