<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<br/>
<h3>Índice</h3>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/alumno">
        Alumnos    
        </a>
    </li>
</ul>
