<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Numero de control" aria-label="Numero de control" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Asignar</button>
    </div>
</div>