@using cocolab.Models
@{
    ViewBag.Title = "Moficación alumno";
    Layout = "~/Views/Shared/_Modificacion.cshtml";
    Carrera carrera = ViewData["carrera"] as Carrera;
}
<form action="/basedatos/carrera/modificacion" method="POST">
    <div class="form-group">
        <label for="IdCarrera">Id Carrera</label>
        <input class="form-control" type="text" name="IdCarrera" value="@carrera.IdCarrera" readonly=""/>
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <input class="form-control" type="text" name="Descripcion" value="@carrera.Descripcion" autofocus=""/>
    </div>
    <div class="form-group">
        <input class="form-control" type="submit" value="Enviar"/>
    </div>
</form>

