<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <form class="form-inline text-white">
            <p>Computadoras disponibles: 7 </p>
    </form>
    <form class="form-inline">
        <div id="clock">Jueves 25 de Noviembre del 2018</div>
    </form>
</nav>