<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <form class="form-inline">
        <div class="text-white">
            <p>Computadoras disponibles: </p>
        </div>
    </form>
    <form class="form-inline">
        <div id="clock">&nbsp;loading clock..</div>
    </form>
</nav>