@using system
@{
    DateTime now = DateTime.Now;
    string fecha = now.ToString("dd/MM/yy");
}
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <form class="form-inline text-white">
        Computadoras disponibles: 7
    </form>
    <form class="form-inline text-white">
        <div id="clock">@fecha</div>
    </form>
</nav>