@using cocolab.Models
@{    
    ViewBag.Title = "Consultar alumnos";
    Layout = "~/Views/Shared/_Consulta.cshtml";
}
<form action="/basedatos/alumno" method="GET">
    <div class="form-row">
        <div class="form-col">
            <select class="form-control" name="Busqueda">
                <option value="NoControl">Número de control</option>
                <option value="Nombre">Nombre</option>
                <option value="ApellidoPaterno">Apellido Paterno</option>
                <option value="ApellidoMaterno">Apellido Materno</option>
            </select>
        </div>
        <div class="form-col">
            <input class="form-control" type="text" name="Valor"/>
        </div>
        <div class="form-col">
            <input class="btn btn-secondary" type="submit" value="Buscar">
        </div>
        <div style="float:right;">
            <a class="btn btn-primary" href="/basedatos/alumno/alta">Nuevo</a> 
        </div>
    </div>
</form>
<br/>
<ul class="list-group"> 
@foreach (Alumno alumno in ViewData["alumnos"] as List<Alumno>)
{
    <li class="list-group-item">
        @if (!alumno.Estatus)
        {
        <span class="badge badge-danger">Eliminado</span>
        }
        @alumno.NoControl @alumno.Nombre @alumno.ApellidoPaterno @alumno.ApellidoMaterno
        <div style="float:right;">
            <a class="btn btn-secondary" href="/basedatos/alumno/modificacion/@alumno.NoControl">Editar</a> 
            <a class="btn btn-danger" href="/basedatos/alumno/baja/@alumno.NoControl">Eliminar</a>
        </div>
    </li>
}
</ul>