@using cocolab.Models
@{    
    ViewBag.Title = "Consultar alumnos";
    Layout = "~/Views/Shared/_Consulta.cshtml";
}
<form action="/alumno" method="GET">
    <div class="form-row">
        <div class="form-col">
            <select class="form-control" name="Busqueda">
                <option value="NoControl">Número de control</option>
                <option value="Nombre">Nombre</option>
                <option value="ApellidoPaterno">Apellido Paterno</option>
                <option value="ApellidoMaterno">Apellido Materno</option>
            </select>
        </div>
        <div class="form-col">
            <input class="form-control" type="text" name="Valor"/>
        </div>
        <div class="form-col">
            <input class="btn btn-secondary" type="submit" value="Buscar">
        </div>
        <div class="form-col">
            <a class="btn btn-primary" href="alumno/alta">Nuevo</a> 
        </div>
    </div>
</form>
<ul class="list-group">
@foreach (Alumno alumno in ViewData["alumnos"] as List<Alumno>)
{
    <li class="list-group-item">
        @alumno.Nombre @alumno.ApellidoPaterno @alumno.ApellidoMaterno
        <a class="btn btn-secondary" href="alumno/modificacion/@alumno.NoControl">Editar</a> 
        <a class="btn btn-danger" href="alumno/baja/@alumno.NoControl">Eliminar</a>
    </li>
}
</ul>